<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="homeNormal" routerLinkActive="active"><i class="fas fa-home"></i></a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLinkActive="active" routerLink="store">Store</a>
            </li>
        </ul>
        <div class=" form-inline col-3 my-2 my-lg-0">
            <button class="btn btn-secondary my-2 my-sm-0"><i class="fas fa-shopping-cart"></i></button>
            <h5 class="text-white ml-2  my-2 my-lg-0">Pay now</h5>
        </div>
        <div class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()">LogOut</button>
        </div>
    </div>
</nav>