<div class="container">
    <h1 class="text-center mt-5">{{title}}</h1>

    <hr>
    <form>
        <div class=" form-group row ">
            <label class="col-2 col-form-label" for="">Email:</label>
            <div class="col-10 ">
                <input class="form-control " type="email " placeholder="Email" name="email" [(ngModel)]="email" minlength="3" maxlength="254">
            </div>
        </div>

        <div class="form-group row ">
            <label class="col-2 col-form-label ">&nbsp;</label>
            <div class="input-group col-md-10        ">
                <button type="button " class="btn btn-success btn-block " (click)="restore()">
                        <i class=" far fa-save " ></i> Restore
                    </button>

            </div>

        </div>
        <div class="form-group row mb-0 ">
            <label class="col ">&nbsp;</label>

            <div class="input-group col-md-10 ">
                <p>Sign in | <a routerLink="/login " class="badge badge-success ">Here</a> |

                </p>

            </div>


        </div>

    </form>

</div>