<div class="container mt-5">

    <h1 class="text-center">DEMO-REST</h1>
    <hr>
    <form autocomplete="off">
        <div class="form-group row">
            <label class="col-2 col-form-label">Email</label>
            <div class="col-8">
                <input class="form-control" type="email" placeholder="Email" name="email" [(ngModel)]='user.email' required minlength="3" maxlength="255" #email="ngModel" email>
                <div class="alert alert-danger p-0" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.errors.required">
                        The email is required
                    </div>
                    <div *ngIf="email.errors.minlength">
                        The email must be at least 3 characters
                    </div>
                    <div *ngIf="email.errors.email">
                        The email must have a valid format
                    </div>
                </div>

            </div>
        </div>
        <div class=" form-group row ">
            <label class="col-2 col-form-label ">Name</label>
            <div class="col-8 ">

                <input class="form-control " type="text " placeholder="Name" name="name" [(ngModel)]="customer.name" required minlength="4" maxlength="255" #name="ngModel">
                <div class="alert alert-danger p-0" *ngIf="name.invalid && (name.dirty || name.touched)">
                    <div *ngIf="name.errors.required">
                        The name is required
                    </div>
                    <div *ngIf="name.errors.minlength">
                        The name must be at least 4 characters
                    </div>

                </div>

            </div>
        </div>
        <div class=" form-group row ">
            <label class="col-2 col-form-label ">Phone</label>
            <div class="col-8 ">

                <input class="form-control " type="text" placeholder="Phone" name="phone" [(ngModel)]="customer.phone" required minlength="6" maxlength="255" #phone="ngModel">
                <div class="alert alert-danger p-0" *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                    <div *ngIf="phone.errors.required">
                        The phone is required
                    </div>
                    <div *ngIf="phone.errors.minlength">
                        The phone must be at least 6 characters
                    </div>

                </div>

            </div>
        </div>
        <div class=" form-group row ">
            <label class="col-2 col-form-label ">Address</label>
            <div class="col-8 ">

                <input class="form-control " type="text " placeholder="Address" name="address" [(ngModel)]="customer.address" required minlength="3" maxlength="255" #address="ngModel">
                <div class="alert alert-danger p-0" *ngIf="address.invalid && (address.dirty || address.touched)">
                    <div *ngIf="address.errors.required">
                        The address is required
                    </div>
                    <div *ngIf="address.errors.minlength">
                        The address must be at least 3 characters
                    </div>

                </div>

            </div>
        </div>


        <div class="form-group row">
            <label class="col-2 col-form-label">Password</label>
            <div class="col-8">
                <input class="form-control" type="password" placeholder="Password" name="password" [(ngModel)]='user.password' required minlength="6" maxlength="255" #password="ngModel">
                <div class="alert alert-danger p-0" *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors.required">
                        The password is required
                    </div>
                    <div *ngIf="password.errors.minlength">
                        The password must be at least 6 characters
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Confirm password</label>
            <div class="col-8">
                <input class="form-control" type="password" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]='user.confirmPassword'>

            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
                <button type="submit" class="btn btn-outline-danger btn-block" (click)="register()">
                        Sign up
                    </button>
            </div>

        </div>
        <div class="form-group row">
            <label class="col">&nbsp;</label>
            <div class="input-group col-md-10">
                <p>Sign in / <a routerLink="/login" class="badge badge-danger">Here</a></p>
            </div>

        </div>


    </form>
</div>