<div class="container">
    <h1 class="text-center mt-5">
        {{title}}<span> (data)</span>
    </h1>

    <hr>
    <form>
        <div class=" form-group row ">
            <label class="col-2 col-form-label ">PayId</label>
            <div class="col-8 ">

                <input class="form-control" type="text " placeholder="PayId" name="payId" [(ngModel)]="payment.payId" required minlength="4" maxlength="255" #payId="ngModel" disabled>
                <div class="alert alert-danger p-0 " *ngIf="payId.invalid && (payId.dirty || payId.touched)">
                    <div *ngIf="payId.errors.required">
                        The payId is required
                    </div>
                    <div *ngIf="payId.errors.minlength">
                        The payId must be at least 4 characters
                    </div>

                </div>


            </div>
        </div>
        <div class=" form-group row ">
            <label class="col-2 col-form-label ">Name</label>
            <div class="col-8 ">

                <input class="form-control" type="text " placeholder="Name" name="name" [(ngModel)]="payment.name" required minlength="4" maxlength="255" #name="ngModel">
                <div class="alert alert-danger p-0 " *ngIf="name.invalid && (name.dirty || name.touched)">
                    <div *ngIf="name.errors.required">
                        The name is required
                    </div>
                    <div *ngIf="name.errors.minlength">
                        The name must be at least 4 characters
                    </div>

                </div>


            </div>
        </div>
        <div class=" form-group row ">
            <label class="col-2 col-form-label ">Enable</label>
            <div class="col-8 ">
                <select name="" class="custom-select" name="enable" [(ngModel)]="payment.enable">
                            <option value="Y">YES</option>
                            <option value="N">NO</option>    
                        </select>


            </div>
        </div>


        <div class="form-group row ">
            <label class="col-2 col-form-label ">&nbsp;</label>
            <div class="input-group col-md-8 ">
                <button type="button " class="btn btn-info btn-block " (click)="update()">
                        <i class="far fa-save"></i> Update
                    </button>

            </div>
        </div>
    </form>
</div>