<div class="container">
    <h1 class="text-center mt-5">
        {{title}}
    </h1>
    <hr>
    <div class="form-group row">
        <button class="btn btn-info ml-3" (click)="findAll()"><i class="far fa-eye"></i> Show All</button>
        <button class="btn btn-secondary ml-3 " (click)="findById(id)"><i class="fas fa-search"></i> Search</button>
        <div class="col">
            <input class="form-control" type="text" placeholder="Search for ProId" [(ngModel)]="id" (keyup.enter)="findById(id)">
        </div>
    </div>
    <hr class="">
    <button class="btn btn-success mb-2" routerLink="formProduct"> <i class="far fa-file"></i> New Product</button>
    <div class="table-responsive">
        <table class="table  table-bordered table-hover text-center mb-4">
            <thead class="thead-dark">
                <tr>
                    <th>ProId</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Enable</th>
                    <th>Detail</th>
                    <th>Image</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let product of products| paginate: { itemsPerPage: 6, currentPage: pageActual} ; let i = index">
                    <td>{{product.proId}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price | currency:'COP '}}</td>
                    <td>{{product.enable}}</td>
                    <td>{{product.detail}}</td>
                    <td class="text-center">
                        <a href="{{product.image}}" target="_blank"><img [src]="product.image " fallimg="default" class="img-fluid " width="50px" height="50px"> </a>


                    </td>

                    <td class="text-center "><button class="btn btn-primary " type="button" [routerLink]="['/products/formProduct',product.proId]"><i class="fas fa-pencil-alt "></i></button></td>
                    <td class="text-center "><button class="btn btn-danger " (click)="delete(product.proId) "><i class="fas fa-user-minus "></i></button></td>

                </tr>
            </tbody>

        </table>

    </div>
    <pagination-controls class="text-center " (pageChange)="pageActual=$event "></pagination-controls>
</div>