* {
    color: black;
}

.titulo-principal {
    text-align: center;
    margin-top: 150px;
    text-shadow: 0px 0px 1px;
    font-size: 62px;
}

.subtitulo {
    margin: auto;
    margin-top: 20px;
    display: table;
    font-size: 40px;
}

h4 {
    color: black;
    position: relative;
}

h4 span {
    position: absolute;
    right: 0;
    width: 0;
    border-left: 1px solid #ffffff;
    animation: maquina 5s infinite alternate steps(12);
    background-color: #ffffff;
}

@keyframes maquina {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}