<div class="container">
    <h1 class="text-center mt-5">
        {{title}}
    </h1>
    <hr>
    <div class="table-responsive">
        <table class="table table-bordered table-hover text-center mb-4">
            <thead class="thead-dark">
                <tr>

                    <th>#</th>
                    <th>ShprId</th>
                    <th>Name</th>
                    <th>proId</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Image</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>

                <tr>

                </tr>
            </tbody>

        </table>
    </div>
    <!-- <pagination-controls class="text-center " (pageChange)="pageActual=$event"></pagination-controls> -->


</div>